<template>
  
  <div id="appthree" class="container is-fluid">

    <div class="content has-text-centered">
      <h1 class="title">{{ title }}</h1>
    </div>

    <div class="content">

      <ul id="srcLangSelector">
        <li class="lingua" v-on:click="languageLimaIndia">
          <a href="" id="linguaOne" v-on:click="languageAlpha" class="linguaOps">
            lang:[en\es]
          </a>
        </li>
      </ul>

    </div>

    <!-- <div class="content">
      <div id="logDetails">
        {{ storagestatusstring }}
      </div>
    </div> -->

    <div class="content"> <!-- .notification -->
      
      <!-- Nav tabs -->
      <div class="fauxtabs"> <!-- <div class="tabs"> -->
        <ul>

          <li v-for="(post,index) in displayedtabs" v-bind:key="index" v-bind:class="{ 'is-active': tabsel == `${post.label}` }" @click="tabsel = `${post.label}`">
            <a>{{post.content}}</a>
          </li>

        </ul>
      </div>

      <!-- Tab panes -->
      <div class="content">

        <p class="subtitle">{{ greeting }}:</p>

        <div id="hackishelement" class="content" v-for="( day, index) in days" v-bind:key="index">

          <div v-show="tabsel == `${day.label}`">
          
            <section class="hero is-white">
              <div class="hero-body">
                <div class="container">
                  
                  <!-- <p>
                    {{ day.label }} - {{ day.paragraphs.length }}
                  </p> -->

                  <p v-for="(graf,index) in day.paragraphs" v-bind:key="index" v-text="graf"></p>

                </div>
              </div>
            </section>

          </div>

        </div>

      </div>

      <footer class="content">
        <div class="has-text-left"> <!-- has-text-left -->
          
          <p>&#45;&#45; ({{parentheses}}) <strong>{{signature}}</strong></p>

          <!-- <button id="normal" v-on:click="greet" class="button is-primary is-large">Test 1</button> -->

        </div>
      </footer>

    </div>

  </div> <!-- div#appthree.container.is-fluid -->

</template>


<script>
export default {
  
  name: 'ConfiaEnMi'
  
  , data: () => {
    return {
      
      tabsel: 'first'
      , testname: 'Vue.js'
      ,
      
      // LANGUAGE SWITCHER FUNC. 
      textobject: { a: "lang:[en\\es]" , b: "Cambiar a Español" , c: "Switch to English" }
      , classobject: { a: "lingua", b: "en", c: "sp", d: "linguaOps" }

      //, storagestatusstring: ''
      
      , DEFAULTLANGUAGE: "defaultLanguage" 
      , langLocsto: window.localStorage || {} // , langLocsto: undefined
      , switcherroovalue: undefined 

      // fetch response ... variable assignments 
      , title: "" , greeting: "" 
      , parentheses: "" , signature: "" 
      , displayedtabs: [] , days: [] 

    };
  }

  , created: function(){ 
    // this.storageDisposition();
    this.customFetch();
  }

  , methods: {

    /* storageDisposition: function(){
      if( "localStorage" in window ){

        this.langLocsto = window.localStorage || {};

        if( this.langLocsto.getItem( this.DEFAULTLANGUAGE ) ){
          this.storagestatusstring = `Web Storage Value: ${ this.langLocsto.getItem( this.DEFAULTLANGUAGE) }`;
        }
        else
        if( !this.langLocsto.getItem( this.DEFAULTLANGUAGE ) ){
          this.storagestatusstring = `You can set up a default language in seconds!`;
        }

      }
    }, */

    customFetch: function(){

      let url = "model/data.json";
      fetch( url )
      .then( res => res.json() )
      .then( ( data ) => { 
        
        // console.log( "data: " , data );

        let LANG;
        if( this.langLocsto.getItem( this.DEFAULTLANGUAGE ) ){
          LANG = this.langLocsto.getItem( this.DEFAULTLANGUAGE );
        }
        if( !this.langLocsto.getItem( this.DEFAULTLANGUAGE ) ){
          LANG = "sp";
        }

        // console.log( "LANG: ", LANG );
        // console.log( 'data.en.elements.title' , data.en.elements.title );
        // console.log( 'data[ LANG ].elements.title' , data[ LANG ].elements.title );

        this.title = data[ LANG ].elements.title;
        this.greeting = data[ LANG ].elements.greeting;
        this.parentheses = data[ LANG ].elements.closing.parentheses;
        this.signature = data[ LANG ].elements.closing.signature;
        
        this.days = data[ LANG ].elements.days;
        this.displayedtabs = data[ LANG ].elements.selectedtabs;

      } )
      .catch( ( derrp ) => {
        console.log( "derrp: " , derrp );
      } );
    } ,
    
    languageLimaIndia: function(e){
      
      // e.preventDefault();

      if( "localStorage" in window ){ 

        // window.location.href="/";

        if( e.target.className === this.classobject.a ){
          this.switcherroovalue = this.classobject.b;
          this.langLocsto.setItem(this.DEFAULTLANGUAGE ,this.switcherroovalue);
          e.target.className = this.langLocsto.getItem(this.DEFAULTLANGUAGE);
          // console.log("if EQ 'lingua'... e.target.classList: ",e.target.classList);
        }
        else
        if( e.target.className === this.classobject.b ){
          this.switcherroovalue = this.classobject.c;
          this.langLocsto.setItem(this.DEFAULTLANGUAGE ,this.switcherroovalue);
          e.target.className = this.langLocsto.getItem(this.DEFAULTLANGUAGE);
          // console.log("if EQ 'en'... e.target.classList: ",e.target.classList);
          e.target.innerText = "";
          e.target.innerText = this.textobject.c;
        }
        else {
          this.switcherroovalue = this.classobject.b;
          this.langLocsto.setItem(this.DEFAULTLANGUAGE ,this.switcherroovalue);
          e.target.className = this.langLocsto.getItem(this.DEFAULTLANGUAGE);
          // console.log("ELSE if EQ 'sp'... e.target.classList: ",e.target.classList);
          e.target.innerText = "";
          e.target.innerText = this.textobject.b;
        }

        // this.storageDisposition();
        this.customFetch();
        
      }

    }
    
    , languageAlpha: function(e){ 
      e.preventDefault();
    }

  }

  // , props: { msg: String }

}
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  
  :focus { outline: 0; }

  .fauxtabs ul {
    padding-top: 1.5vh;
    padding-bottom: 4.5vh;
    list-style: none;
    text-align: center; 
  }
  
  .fauxtabs li {
    display: inline-block;
    padding-right: 2.5vw;
    padding-left: 2.5vw;
    border-right: 1px solid #363636;
  }

  .fauxtabs li:last-child { border-right: none; }

  li.lingua{ text-transform: uppercase; list-style: none; font-style: italic; }

  ul#srcLangSelector { margin-top: 0; margin-left: 0; }
  
</style>