<template>
  
  <!-- <div id="appdeux">
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div> -->

  <div id="appdeux" class="section">
    <ConfiaEnMi/>
  </div>

</template>

<script>

  import '@/assets/styles.css';

  // import HelloWorld from './components/HelloWorld.vue';
  import ConfiaEnMi from './components/ConfiaEnMi.vue';

  export default {
    name: 'App',
    components: {
      // HelloWorld
      ConfiaEnMi
    }
  }
</script>

<style>
  /* #appdeux { font-family: Avenir, Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-align: center; color: #2c3e50; margin-top: 60px; } */
</style>